---
import Stats from '../components/Stats.astro';
import Features from '../components/Features.astro';
import HeroSection from '../components/HeroSection.astro';
import Layout from '../layouts/Layout.astro';
import Testimonials from '../components/Testimonials.astro';
import Team from '../components/Team.astro';
import Medal from '../components/medal.astro';
import Blog from '../components/Blog.astro';
import PopupNotification from '../components/PopupNotification.astro';

let openPopup = true;
---

<Layout title="Welcome to Astrolus.">
  <main class="space-y-40">
    <PopupNotification openPopup={openPopup} setOpenPopup={setOpenPopup} />
    <HeroSection/>
    <Features/>
    <Stats/>
    <Blog/>
    <Medal/>
    <Team/>
    <Testimonials/>
  </main>
</Layout>

<script>
  // Check if the popup has been shown before using localStorage
  if (!localStorage.getItem('eventPopupShown')) {
    document.querySelector('[data-popup]').classList.remove('hidden');
    localStorage.setItem('eventPopupShown', 'true');
  }

  // Add an event listener to close the popup
  document.querySelector('[data-popup-close]').addEventListener('click', function() {
    document.querySelector('[data-popup]').classList.add('hidden');
  });
</script>
