---
import Container from "./Container.astro"

---

<astro>
  <style>
    .team-img-wrapper {
      position: relative;
      overflow: hidden;
    }
  
    .overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 0;
      transition: opacity 0.3s ease;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: rgba(0, 0, 0, 0.5); /* Changed background color to semi-transparent black */
    }
  
    .overlay:hover {
      opacity: 1;
    }
  
    .team-img {
      transition: filter 0.3s ease;
      height: 240px;
      width: 240px;
    }
    .member-name {
      color: white; /* Setting text color to white */
      font-weight: bold;
      font-size: 1.5rem;
      text-align: center;
      opacity: 1;
      transition: opacity 0.3s ease;
      z-index: 100;
      font-family:Arial, Helvetica, sans-serif;
    }
    .team-cards {
      display: flex;
      justify-content: center;
    }
    .overlay:hover + .team-img {
      filter: blur(5px);
    }
  
  ['']
    .medal-name {
      
      font-weight: bold;
      font-size: 1.7rem;
      text-align: center;
      opacity: 1;
      transition: opacity 0.3s ease;
      z-index: 100;
      font-family:Arial, Helvetica, sans-serif;
    }
    .overlay:hover +  .member-name {
      opacity: 1;
    }
  </style>
  
  <Container>
    <div id="team" class="mb-12 space-y-2 m-[150px] text-center">
      <h2 class="text-3xl underline underline-offset-1 font-bold text-gray-800 md:text-4xl dark:text-white">Past Achievements</h2>
    </div>

  
    <div class="container mx-auto mb-40 px-30 flex justify-center">
      <div class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-5 gap-10">
        <div class="team-card-container">
          <div class="team-card">
            <div class="team-member">
              <div class="team-img-wrapper rounded-md">
                <img class="team-img" src="/images/medal2.png" alt="Team Member">
                <div class="medal-name text-primary mt-4">Silver 2023</div>
              
              </div>
            </div>
          </div>
        </div>
        <div class="team-card-container">
          <div class="team-card">
            <div class="team-member">
              <div class="team-img-wrapper rounded-md">
                <img class="team-img" src="/images/medal1.png" alt="Team Member">
                <div class="medal-name text-primary mt-4">Gold 2022</div>
              </div>
            </div>
          </div>
        </div>
        <div class="team-card-container">
          <div class="team-card">
            <div class="team-member">
              <div class="team-img-wrapper rounded-md">
                <img class="team-img" src="/images/medal3.png" alt="Team Member">
                <div class="medal-name text-primary mt-4">Bronze 2017</div>
              </div>
            </div>
          </div>
        </div>
        
        

        <div class="team-card-container">
          <div class="team-card">
            <div class="team-member">
              <div class="team-img-wrapper rounded-md">
                <img class="team-img" src="/images/medal3.png" alt="Team Member">
                <div class="medal-name text-primary mt-4">Bronze 2015</div>
              </div>
            </div>
          </div>
        </div>
      

      
        <div class="team-card-container">
          <div class="team-card">
            <div class="team-member">
              <div class="team-img-wrapper rounded-md">
                <img class="team-img" src="/images/medal3.png" alt="Team Member">
                <div class="medal-name text-primary mt-4">Bronze 2014</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      
        <!-- Repeat the above code block for each team member -->
      </div>
    </div>
  </Container>
  </astro>
  
  
  
